/* Editor Markdown Preview Custom Styles */

.editor-preview h2 {
  color: rgba(0, 0, 0, .5);
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-bottom:.5rem
}

.editor-preview h3 {
  color: rgba(0, 0, 0, .75);
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom:.5rem
}

.editor-preview h4 {
  margin:1rem 0
}

.editor-preview p {
  font-family: var(--font-serif);
  margin: .5em 0;
  line-height:1.75
}

.editor-preview code {
  background: #f3f4f6;
  color: #d6336c;
  border-radius: 4px;
  padding: 0.2em 0.4em;
}

/* Add more custom styles as needed */ 